/*inclues but not limited to the following
 *Clearfix
 *colors
 *display
 *embed
 *flex
 *float
 *position
 *shadows
 *sizing
 *spacing
*text transform
*vertical align
*visibility
*/
.d-flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.blk {
  display: block; }

.inline-blk {
  display: inline-block; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.rel {
  position: relative; }

.fixed {
  position: fixed; }

.abs {
  position: fixed; }

.capitalize {
  text-transform: capitalize; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.bg-white {
  background-color: #ffffff; }

.full-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.control {
  width: 100%; }

.mr-auto {
  margin-right: auto; }

.ml-auto {
  margin-left: auto; }

.mr-5 {
  margin-right: 5px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-30 {
  margin-left: 30px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.m-auto {
  margin: auto; }

.p-15 {
  padding: 15px; }

.p-20 {
  padding: 20px; }

.p-25 {
  padding: 25px; }

.p-30 {
  padding: 30px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pr-15 {
  padding-right: 15px; }

.pr-20 {
  padding-right: 20px; }

.pr-25 {
  padding-right: 25px; }

.pr-30 {
  padding-right: 30px; }

.pl-15 {
  padding-left: 15px; }

.pl-20 {
  padding-left: 20px; }

.pl-25 {
  padding-left: 25px; }

.pl-30 {
  padding-right: 30px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

button {
  border: 0;
  background-color: transparent; }
  button:focus {
    outline: 0; }
  button:hover {
    cursor: pointer; }

input:focus {
  outline: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a:hover {
  text-decoration: none;
  color: #FF5E99; }

a, h1 {
  color: #3A3939; }

body {
  font-family: "Roboto", "sans serif"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fredoka One"; }

.footer {
  background-color: #ececec;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  color: #828282; }

.main-menu > .menu-item, .main-menu > .menu-item > .sub-menu > .menu-item {
  text-transform: capitalize;
  border-top: 1px solid #eee;
  padding: 20px;
  position: relative;
  line-height: 1.5em; }
  .main-menu > .menu-item:last-of-type, .main-menu > .menu-item > .sub-menu > .menu-item:last-of-type {
    border-bottom: 1px solid #eee; }
    @media (min-width: 806px) {
      .main-menu > .menu-item:last-of-type, .main-menu > .menu-item > .sub-menu > .menu-item:last-of-type {
        border: none; } }
  .main-menu > .menu-item > a, .main-menu > .menu-item > .sub-menu > .menu-item > a {
    color: #3b3b3b;
    font: 0.875em/1.93em "Roboto", "sans serif"; }
    @media (min-width: 806px) {
      .main-menu > .menu-item > a, .main-menu > .menu-item > .sub-menu > .menu-item > a {
        color: #999; } }
    .main-menu > .menu-item > a:hover, .main-menu > .menu-item > .sub-menu > .menu-item > a:hover {
      color: #FF5E99; }

.main-header {
  height: 98px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .main-header .logo {
    width: 70px; }
    @media (min-width: 806px) {
      .main-header .logo {
        margin-right: auto; } }
  @media (min-width: 806px) {
    .main-header {
      height: 80px;
      justify-content: flex-start; } }

@media (min-width: 806px) {
  .menu-button {
    display: none !important; } }

.main-nav-overlay {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(215, 215, 215, 0.75);
  position: fixed;
  width: auto;
  transition: .4s linear; }
  @media (min-width: 806px) {
    .main-nav-overlay {
      position: static;
      width: auto !important;
      height: auto;
      transition: 0s; } }

.main-nav-cont {
  position: fixed;
  padding: 0 15px;
  top: 0;
  right: 0;
  width: 280px;
  height: 100%;
  background-color: #fff;
  transform: translateX(280px);
  transition: .3s ease-in-out; }
  @media (min-width: 806px) {
    .main-nav-cont {
      position: static;
      transform: translateX(0) !important;
      display: flex;
      width: auto;
      height: auto;
      transition: 0s; } }

@media (min-width: 806px) {
  .main-menu-cont {
    position: static;
    transform: translateX(0) !important; } }

@media (min-width: 806px) {
  .main-menu {
    position: static;
    display: flex; } }
@media (min-width: 806px) {
  .main-menu > .menu-item {
    border: 0 !important;
    padding: 0;
    margin-right: 20px; } }
@media (min-width: 900px) {
  .main-menu > .menu-item {
    margin-right: 30px; } }
@media (min-width: 1080px) {
  .main-menu > .menu-item {
    margin-right: 40px; } }
.main-menu > .menu-item > .sub-menu {
  margin-top: 20px;
  display: none; }
  @media (min-width: 806px) {
    .main-menu > .menu-item > .sub-menu {
      margin-top: 10px;
      position: absolute;
      background-color: #f2f2f2;
      padding: 20px;
      width: 172px;
      display: none !important; }
      .main-menu > .menu-item > .sub-menu::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 10%;
        margin-top: -15px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #f2f2f2; } }
  .main-menu > .menu-item > .sub-menu > .menu-item:last-of-type {
    border-bottom: none;
    padding-bottom: 0; }
  @media (min-width: 806px) {
    .main-menu > .menu-item > .sub-menu > .menu-item {
      border: none;
      padding: 10px; } }
  @media (min-width: 806px) {
    .main-menu > .menu-item > .sub-menu > .menu-item > a {
      font-size: .7em;
      color: #3b3b3b; } }
.main-menu .menu-item.current-menu-item {
  color: #FF5E99 !important; }
.main-menu .menu-item.has-children::after {
  content: url("/images/down-arrow.svg");
  width: 30%;
  position: absolute;
  top: 1.2em;
  right: 0;
  transition: all 0.5s ease-in;
  cursor: pointer;
  text-align: center; }
  @media (min-width: 806px) {
    .main-menu .menu-item.has-children::after {
      display: none; } }

@media (min-width: 806px) {
  .menu-item.has-children:hover > .sub-menu {
    display: block !important; } }

.nav-close {
  top: 25px;
  right: 25px; }
  .nav-close img {
    width: 15px;
    height: 15px; }
  @media (min-width: 806px) {
    .nav-close {
      display: none; } }

.form-search {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 158px; }
  .form-search .s_field {
    border: none;
    height: 42px;
    color: #999; }
    .form-search .s_field::placeholder {
      font-family: "Roboto", "sans serif";
      color: #999;
      padding: 15px;
      padding-left: 0; }
    @media (min-width: 806px) {
      .form-search .s_field {
        height: auto; } }
  .form-search .search-svg {
    width: 15px;
    height: 16px; }
  @media (min-width: 806px) {
    .form-search {
      margin: 0;
      order: 1; } }

.blog-posts {
  margin-top: 100px; }
  @media (min-width: 500px) {
    .blog-posts {
      padding: 00 30px; } }
  @media (min-width: 800px) {
    .blog-posts {
      padding: 0;
      display: flex;
      flex-wrap: wrap; } }

.post {
  padding: 20px 10px;
  border-bottom: 1px solid #e7e7e7; }
  @media (min-width: 800px) {
    .post {
      flex: 1 33.333%;
      max-width: 33.333%;
      border-right: 1px solid #e7e7e7;
      border-width: 0 1px 1px 0;
      padding: 20px 20px;
      padding-bottom: 40px; } }

.post__img-cont {
  margin-bottom: 15px; }

.post__img {
  width: 100%;
  height: 100%; }
  @media (min-width: 800px) {
    .post__img {
      max-width: 340px;
      max-height: 230px; } }

.post__title {
  margin-bottom: 20px; }
  .post__title h1 {
    font-weight: normal;
    font-size: 1.4em; }
  @media (min-width: 800px) {
    .post__title {
      height: 100px; } }
  @media (min-width: 1000px) {
    .post__title {
      height: 70px; } }

.post__excerpt {
  font-size: .9em;
  font-weight: 100; }

.post__read-more {
  font-size: .8em;
  font-weight: bold;
  position: relative; }
  .post__read-more .post__caret {
    width: 10px;
    height: 10px;
    background: url("/images/read-more.svg") no-repeat center;
    display: inline-block;
    background-size: 10px 10px; }

@media (min-width: 625px) {
  .nxt-post-prev {
    border-right: 1px solid #e7e7e7; } }

.nxt-post-prev-link::before {
  content: "\f104";
  font-family: "FontAwesome";
  margin-right: 7px; }

@media (min-width: 625px) {
  .nxt-post-next {
    border-left: 1px solid #e7e7e7; } }

.nxt-post-next-link::after {
  content: "\f105";
  font-family: "FontAwesome";
  margin-left: 7px; }

.single-post {
  padding: 15px;
  margin: auto;
  margin-top: 100px; }
  .single-post .single-post-title {
    font-size: 1.6rem; }
  @media (min-width: 800px) {
    .single-post {
      max-width: 760px; }
      .single-post .single-post-title {
        font-size: 2.3rem; }
      .single-post p {
        font-size: 18px; }
      .single-post h2 {
        font-size: 1.7rem; } }

.post-single-thumb {
  width: 100% !important;
  height: auto !important; }

pre.prettyprinted {
  background-color: #292929 !important;
  padding: 17px 17px;
  border-radius: 4px;
  box-shadow: 0 0 6px black; }
  pre.prettyprinted .kwd {
    color: #f0f !important; }
  pre.prettyprinted .pln, pre.prettyprinted .pun {
    color: #f3f3f3 !important; }
  pre.prettyprinted .str {
    color: #04d204 !important; }
  pre.prettyprinted .lit {
    color: #b50606 !important; }
  pre.prettyprinted .com {
    color: #696969 !important; }

/*# sourceMappingURL=style.css.map */
